html,
body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: "Poppins", sans-serif;
}

/* Appbar CSS */
.container-navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 2px;
  background-color: black;
}

.left-logo {
  display: flex ;
}

.left-logo a i{
  color: white;
  padding: 20px;
}

.right-search {
  display: flex;
  align-items: center;
  position: relative;

}

.logo-alphabet{
  padding-right: auto;
  margin: auto;
  font-family: 'Alegreya';
  font-size: 10px;
  justify-content: space-between;
  
}

.logo-alphabet a:hover {
  text-decoration: none;
  color: #ffffff;
  text-decoration: none;
}

.logo-alphabet a {
  text-decoration: none;
  color: #ffffff;
  text-decoration: none;
}

.search-bar {
  width: 100%;
  max-width: 800px;
  display: flex;
  padding: auto;
  border-radius: 5px;
  margin-top: 5;
}
#select {
  margin-left: 10px;
  background-color: #eb6d20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 200px;
  padding: 1px 20px;
  cursor: pointer;
  position: relative;
  border-radius: 50px;
  background-color: #eb6d20;
}

.arrow {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#select a {
  color: white;
  transform: rotate(90deg);
  margin-top: -4px;
}

#select p {
  padding-right: 10px;
  margin-top: 13px;
  font-size: 15px;
}

#select ul {
  z-index: 1000;
  position: absolute;
  top: 120%;
  left: 0;
  list-style: none;
  background-color: #eb6d20;
  color: #ffffff;
  width: 100%;
  border-radius: 4px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#select ul li {
  padding: 10px 15px;
  cursor: pointer;
}

.search-bar input {
  padding: 10px 15px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}

#select ul.open {
  max-height: 300px;
}

.right-acc {
  display: flex;
  align-items: center;
}


.right-acc button:hover {
  background-color: #f5f6f8;
  cursor: pointer;
  transition: 0.3s;
  color: #eb6d20;
  font-weight: bold;
}

.right-acc .LoginPage {
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.right-acc .LoginPage h1 {
  font-size: 14px;
  padding-left: 8px;
  padding-top: 10px;
  color: #ffffff;
}

.right-acc .RegisterPage {
  display: flex;
  align-items: center;
  cursor: pointer;
}


.right-acc .RegisterPage h1 {
  font-size: 14px;
  padding-left: 8px;
  padding-top: 10px;
  color: #ffffff;
}
/* Akhir Appbar CSS */

/* Sidebar */
.bg-profile{
  display: flex;
  flex-direction: row;
}
.sidebar{
  border: solid;
  border-color: black;
  /* background-color: yellow; */
  border-radius: 10px; 
  height: 700px; 
  width: 350px;
  margin: 45px;
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-information{
  display: flex;
  margin: 30 0 0 20;
}

.Walpoint {
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 120px;
  margin: 0 10;
  justify-content: center;
}

.Wallet {
  background-color: black;
  width: 140px;
  height: 90px;
  margin: 10px;
  padding: 2px 10px;
  border-radius: 10px;
  border: solid;
  line-height: 28px;
}

.Wallet span.title{
  font-family: 'Alegreya';
  font-size: 20px;
}

.Wallet span.balance{
  font-family: 'Alegreya';
  font-size: 13px;
}

.Wallet span.balance-value{
  font-family: 'Alegreya';
  font-size: 20px;
}

.Wallet span{
  padding: 0px;
  color: white;
}

.Point {
  padding: 2px 10px;
  background-color: blue;
  width: 140px;
  height: 90px;
  padding: auto;
  margin: 10;
  border-radius: 10px;
  border: solid;
  line-height: 28px;
}

.Point span.title{
  font-family: 'Alegreya';
  font-size: 20px;
}

.Point span.balance{
  font-family: 'Alegreya';
  font-size: 13px;
}

.Point span.balance-value{
  font-family: 'Alegreya';
  font-size: 20px;
}

.Point span{
  padding: 0px;
  color: white;
}

.Profile-photo{
  margin: 5;
  clip-path: circle(50%);
}

.profile-info{
  position: relative;
  padding-left: 5px;
  padding-top: 8px;
}

.profile-info h5{
  margin-bottom: -1px;
}

.credit-action {
  background-color: yellow;
  display: flex;
  flex: 1 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

